/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    height: 100vh;
    position: fixed;
  }
  
  .sidebar-section {
    margin-bottom: 30px;
  }
  
  .sidebar-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .sidebar-section span {
    margin-left: 10px;
  }
  
  .project-list h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  
  
  .active-link {
    background-color: #3c264c;
    color: white;
    border-radius: 10px;
    display: inline-block;
    padding: 20px; 
  }