/* Sidebar styles */
.sidebar {
    width: 100px;
    background-color: #f5f5f5;
    padding: 20px;
    height: 100vh;
    position: fixed;
    display: flex; 
    flex-direction: column; 
}

/* Each section in the sidebar with spacing below it */
.sidebar-section {
    margin-bottom: 30px;
}

/* Heading of each sidebar section */
.sidebar-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Additional margin for span elements within sections */
.sidebar-section span {
    margin-left: 10px;
}

/* Project list section heading */
.project-list h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Styling for active link in the sidebar */
.active-link {
    background-color: #3c264c;
    color: white; 
    border-radius: 10px; 
    display: block; 
    padding: 20px;
    margin-top:5px;
}
