/* src/components/TaskRow.css */

/* Avatar styling */
.avatar {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ccc;
    border-radius: 55%;
    text-align: center;
    line-height: 34px;
    color: white;
    font-size: 12px;
}

/* Status styling */
.status {
    font-weight: bold;
    width: 100px;
    height: 38px;
    vertical-align: middle;
    margin-top: 3px;
}

/* Priority styling */
.priority {
    font-weight: bold;
    width: 100px;
    height: 38px;
    vertical-align: middle;
    margin-top: 3px;
}

/* General input styling */
input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent; /* Make background transparent */
    font-size: inherit;
    color: inherit;
    padding: 5px 10px;
    margin: 0;
    box-shadow: none; /* Remove box shadow */
    outline: none; /* Remove focus outline */
}

/* Specific styling for different priority levels */
.priority.Low {
    background-color: #86B6FB; /* Light purple/blue color */
    color: white;
    width:200px;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
}

.priority.Medium {
    background-color: #5559DF; /* Medium purple color */
    color: white;
    width:200px;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
}

.priority.High {
    background-color: #401694; /* Light pinkish-purple color */
    color: white;
    width:200px;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
}

/* Checkbox input styling */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 2px;
    vertical-align: middle;
}

.notes-cell{
    width: 300px;
}
.timeline-cell{
    width: 300px;
}

/* Table cell styling */
.task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: white; /* Make table cells white */
    color: #333;
}

/* Table header styling */
.task-table th {
    background-color: #f5f5f5;
    color: #333;
}

/* Dropdown menu styling */
select {
    color: black; /* Change text color to black */
}

select option {
    color: black; /* Ensure that the options inside the dropdown have black text */
}
