
 
  .box-charts{
  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px;
    width:100%;
  
  }
  .work-hours-chart {
    flex: 1;
    width: 100%; 
    max-width: 40%; 
    padding: 20px;
    border-radius: 10px;
    background-color: #26263f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    margin-top: -22%;
    margin-right: 10%;
    margin-left: 45%;
    margin-bottom: 5%;
}

  .tableTask-progress-bar-container {
    flex: 1;
    width: 100%; 
    max-width: 750px; 
    background-color: #26263f;
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow for depth */
    text-align: center;
    margin-top: -1%;
    margin-right: 60%;
    margin-left: 15%;
    margin-bottom: 5%;
   
}


.task-table {
    width: 100%;
    margin-top: 20px;
    margin-left:-5%;

  }
  
  .task-section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .task-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    color:#ddd;
  }
  
  .task-table th {
    background-color: #f5f5f5;
   
  }
  .task-cell{
    width: 10px;
}
  .owner-cell{
    width: 100px;
}
  .status-cell{
    width: 200px;
}
  .duedate-cell{
    width: 200px;
}
  .priority-cell{
    width: 200px;
}
  .notes-cell{
    width: 100px;
}
  .timeline-cell{
    width: 100px;
}
  .lastupdate-cell{
    width: 200px;
}
  .location-cell{
    width: 200px;
}
  button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  

  
  .progress-bar-container h3 {
    margin-right: 20px;
  }